<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9mgBB8fwcXVL0wDbZ74U_6mKIGuHmF3E</string>
	<key>GCM_SENDER_ID</key>
	<string>891059624673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skincareAndroid</string>
	<key>PROJECT_ID</key>
	<string>skincare-fd958</string>
	<key>STORAGE_BUCKET</key>
	<string>skincare-fd958.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891059624673:ios:2d3fee7eda4d5b2c2d35a0</string>
</dict>
</plist>